{% extends 'blog/base.html' %}

{% block content %}
<div class="post">
    {%if post.publish%}
    <div class="date">
        date:   {{ post.publish }}
    </div>
    {%endif%}
    <img class="card-img-top" src="holder.js/100px180/" alt="">
    <h4 class="card-title">{{post.title}}</h4>
            <div class="card text-white bg-primary">
            <p class="card-text">{{post.body}}</p>
            <div class="card-body">
                author: {{post.author}}
            </div>
    </div>
</div>
{% endblock %}|